:global(.table-custom){
    --cds-border-subtle: #8D8D8D;
    --cds-layer: #F3F3F3;
    :global(.bx--data-table){
        border-collapse:separate;
        border-spacing: 0 0.8rem;
        --cds-layer-accent: #fff;
    }
    :global(.bx--link){
        color: var(--cds-text-secondary);
    }
    :global(.bx--expandable-row+tr[data-child-row]){
        --cds-layer: #fff;
        :hover{
            --cds-layer: #fff;
        }
        :global(.sub-table){
            :global(td){
                padding-left: 0;
                &:first-child{
                    border-left: 1px solid #0F61FD;
                    padding-left: 0.5rem;    
                }
            }
        }
    }   
    
}