$btn-primary-color: #707070;

$oysteo-white: #ffffff;
$oysteo-black: #000000;

$white-secondary: #f0f7f8;
$oysteo-gray-10: #f3f3f3;
$oysteo-gray-20: #e0e0e0;
$oysteo-gray-40: #a7a7a7;
$oysteo-gray-50: #8d8d8d;
$oysteo-gray-60: #6e6e6e;
$oysteo-gray-70: #515151;
$oysteo-gray-80: #383838;
$oysteo-gray-100: #161616;
$oysteo-gray-10-hover: #e5e5e5;
$oysteo-gray-20-hover: #cacaca;
$oysteo-gray-30-hover: #c6c6c6;
$oysteo-gray-80-hover: #4c4c4c;

$oysteo-red-50: #fa4d55;
$oysteo-red-60: #da1e27;
$oysteo-red-80: #740d12;
$oysteo-red-60-hover: #ba1b22;

$oysteo-green-40: #41bd64;
$oysteo-green-50: #24a047;

$oysteo-warning: #f0c118;

$blue-primary: #5078bc;

$oysteo-blue-20: #d0e1ff;
$oysteo-blue-40: #77a9ff;
$oysteo-blue-50: #4488ff;
$oysteo-blue-60: #0f61fd;
$oysteo-blue-70: #0043cd;
$oysteo-blue-80: #002d9b;
$oysteo-blue-60-hover: #0353e9;

$oysteo-purple-60: #8a3efc;
