@font-face {
	font-family: Surt;
	src: url('../../static/fonts/surt-regular/surt-regular.woff');
	font-weight: 300;
}

@font-face {
	font-family: Surt-lt;
	src: url('../../static/fonts/surt-light/Surt-LightExtended.woff') format('woff');
	font-weight: 300;
}

@font-face {
	font-family: Surt-b;
	src: url('../../static/fonts/surt-semi-bold/Surt-SemiBoldExtended.woff');
	font-weight: 700;
}

@font-face {
	font-family: GTSupper;
	src: url('../../static/fonts/gt-super/GT-Super-Display-Light.woff');
	font-weight: 300;
}

@font-face {
	font-family: GTSupper-Ds-Trial;
	src: url('../../static/fonts/gt-super/GT-Super-Display-Regular-Trial.otf');
	font-weight: 300;
}

@font-face {
	font-family: GTSupper-Ds-Trial-lt;
	src: url('../../static/fonts/gt-super/GT-Super-Display-Light-Trial.otf');
	font-weight: 300;
}
