.overview-wrapper {
	height: 100vh;
	background-color: $blue-primary;
	color: white;
	p,
	h1,
	span,
	small,
	.bx--label {
		font-family: Surt;
	}
	h3 {
		font-family: Surt-lt;
	}
	.overview-container {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.section-logo {
		flex-basis: 12%;
		display: flex;
		justify-content: center;
		align-items: center;
		text {
			fill: $oysteo-white;
		}
	}

	.section-login {
		flex-basis: 18%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.redirect-login-container {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		border-bottom: 1px solid $oysteo-white;
		padding: 1rem 0rem;
		gap: 1rem;
		width: 80%;
		p {
			font-size: 1rem;
		}
	}

	.section-title {
		flex-basis: 18%;
		padding: 0rem 1rem;
		h1 {
			font-family: GTSupper-Ds-Trial-lt;
			text-align: center;
			font-weight: 500;
			font-size: 3rem;
			padding: 0;
			line-height: 3.875rem;
		}
	}

	.section-description {
		flex-basis: 20%;
		display: flex;
		justify-content: center;
		padding: 0rem 1rem;
		p {
			font-weight: 300;
			padding: 10px 0;
			font-size: 1.25rem;
			text-align: center;
			line-height: 1.6875rem;
		}
	}

	.section-register {
		flex-basis: 20%;
		display: flex;
		justify-content: stretch;
		align-items: center;
		flex-direction: column;
		h3 {
			font-size: 1.625rem;
			line-height: 2.1875rem;
		}
		svg {
			margin-top: 1rem;
		}
	}
}

.register-wrapper {
	height: 100vh;
	background-color: $white-secondary;
	padding: 2.25rem 2.25rem;
	color: $oysteo-gray-50;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	p,
	input,
	span,
	.btn-submit,
	.bx--label,
	a {
		font-family: Surt;
	}
	.section-signup {
		flex-basis: 75%;
	}
}

.section-redirect,
.section-radio {
	display: none;
}

.section-signup,
.section-login {
	.bx--form {
		height: 100%;
		padding-right: 0;
		padding-top: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.bx--fieldset {
		margin-bottom: 0;
	}

	.signup-login {
		flex-basis: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		.bx--form-item {
			flex: 0 0 auto;
		}
	}
}

// Login-Register text field
.login-wrapper,
.register-wrapper {
	.btn-submit {
		padding: 0.5rem 2.8125rem;
		background-color: $btn-primary-color;
		min-height: 0rem;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;
		font-size: 1rem;
	}

	input {
		padding: 0 1rem;
		background-color: transparent;
		font-size: 1rem;
		&:focus,
		&:hover {
			outline: none;
		}
		&::placeholder {
			/* Chrome, Firefox, Opera, Safari 10.1+ */
			color: $oysteo-gray-50;
			opacity: 1; /* Firefox */
		}
		&:-ms-input-placeholder {
			/* Internet Explorer 10-11 */
			color: $oysteo-gray-50;
		}
		&::-ms-input-placeholder {
			/* Microsoft Edge */
			color: $oysteo-gray-50;
		}
	}
	.bx--btn.bx--text-input--password__visibility__toggle.bx--tooltip__trigger {
		display: none; //show/hide password
	}
}

.login-wrapper {
	.btn-submit {
		// transform: translate(0, -1rem);
	}
}

//Contact, ResetPw
.section-contact {
	margin-bottom: 20px;
}
.section-contact,
.section-resetpw {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	p {
		color: black;
		font-size: 1rem;
		line-height: 1.3125rem;
		padding-bottom: 0.25rem;
	}
	a {
		line-height: 1.3125rem;
		font-size: 1rem;
		border-bottom: 2px solid transparent;
		padding-bottom: 0.125rem;
		&:hover,
		&:focus {
			outline: none;
			text-decoration: none;
			padding-bottom: 2px;
			border-bottom: 2px solid $oysteo-blue-60;
		}
	}
}

.section-resetpw {
	flex-basis: 15%;
	align-items: flex-start;
}

// Radio button

.radio-group {
	.bx--label {
		line-height: 0;
		font-size: 1.25rem;
		color: $oysteo-gray-50;
		margin-bottom: 1.8125rem;
	}
}

.bx--radio-button__label {
	font-size: 1rem;
}

.bx--radio-button:checked + .bx--radio-button__label .bx--radio-button__appearance,
.bx--radio-button__appearance {
	border: 1px solid $oysteo-gray-50;
	&:before {
		background-color: $oysteo-gray-50;
	}
}

.bx--radio-button:focus + .bx--radio-button__label .bx--radio-button__appearance {
	box-shadow: none;
}

.both-radio-button {
	font-size: 0.75rem;
	margin-top: 0.1875rem;
	margin-left: 1.6125rem;
}

// Update file

#button-uploadfile {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	.bx--form-item {
		align-items: center;
	}
}
