.bx--side-nav {
	max-width: 100%;
	.bx--side-nav__items {
		padding: 0;
	}
	.bx--side-nav__item {
		border-bottom: 1px solid $oysteo-gray-10;
		padding: 0.35rem 0rem;
	}
	.bx--side-nav__link {
		font-weight: normal;
	}
}

a.bx--side-nav__link > .bx--side-nav__link-text {
	color: $oysteo-black;
}

.bx--side-nav--expanded {
	width: 100%;
}

.header-dark {
	background-color: $oysteo-gray-50;
	position: absolute;
	right: 0;
	top: 0;
	padding-right: calc(100% - 3.6rem) !important;
	z-index: -4;

	~ #logo {
		margin-left: 0.6rem;
	}
}

.bx--side-nav ~ .bx--content {
	padding: 5rem 10px;
	margin-top: 0;
	margin-left: 0 !important;
}

header {
	.bx--side-nav__item {
		background: $oysteo-gray-10;
		padding: 0.3em 0;
		border: $oysteo-gray-10;
	}

	.bx--side-nav__link {
		font-weight: normal;
	}

	.bx--header__name {
		padding: 0;
	}

	&.bx--header {
		background-color: $oysteo-white;
		color: $oysteo-gray-100;
		border: 1px solid $oysteo-gray-20;
	}
	.bx--header__menu-trigger {
		border: none;
		&:hover {
			background-color: $oysteo-gray-10;
		}
		> svg {
			fill: $oysteo-gray-100;
		}
	}
	.bx--header__global > button {
		background-color: transparent;
		svg {
			fill: $oysteo-gray-100;
		}
	}
	.bx--header__action {
		color: $oysteo-gray-100;
		background-color: transparent;
		> svg {
			fill: $oysteo-gray-100;
		}
		&:focus,
		&:hover {
			background-color: $oysteo-gray-10;
			border-bottom: 1px solid $oysteo-gray-20;
		}
	}

	.bx--header__action--active {
		border: none;
	}

	.bx--header-panel--expanded {
		border: none;
		padding: 0.25rem 2rem;
		box-shadow: 0 0 0 1px $oysteo-gray-20;
	}
}

// logout
.bx--header-panel {
	bottom: auto;
	width: auto;
	background-color: $oysteo-gray-10;
	.bx--switcher__item {
		margin-top: 0;
	}
}
#account-name {
	display: none;
}

.bx--switcher__item-link {
	color: $oysteo-gray-70;
	font-weight: 400;
	&:active,
	&:focus,
	&:hover:not(.bx--switcher__item-link--selected) {
		border: none;
		outline: none;
		background-color: transparent;
		color: $oysteo-gray-70;
	}
}
