@media (max-width: $break_point - 0.01px) {
	@for $i from 0 through 48 {
		.mtop-#{$i} {
			margin-top: $i + 0px !important;
		}

		.mtop-d#{$i} {
			margin-top: $i * -1px !important;
		}

		.mtop-#{$i}-5 {
			margin-top: $i + 0.5px !important;
		}

		.mbottom-#{$i} {
			margin-bottom: $i + 0px !important;
		}
	}
}
