@media (min-width: $break_point) {
	.container {
		display: flex;
	}

	.overview-container {
		border: 0.2rem solid white;
	}

	.overview-wrapper {
		padding: 7rem 5rem;
		flex-basis: 50%;

		.section-logo {
			flex-basis: 30%;
		}
		.section-login {
			display: none;
		}
		.section-title {
			flex-basis: 10%;
			h1 {
				font-size: 2.5rem;
				margin-top: 0rem;
			}
		}
		.section-description {
			flex-basis: 13%;
			padding: 0rem 2rem;
		}
		.section-register {
			flex-basis: 20%;
			justify-content: flex-end;
			padding-bottom: 1rem;
		}
		.section-radio {
			display: block;
			flex-basis: 27%;
		}
	}

	.register-wrapper {
		padding: 6.5rem 8rem;
		flex-basis: 50%;
	}

	.login-wrapper,
	.register-wrapper {
		input {
			padding-bottom: 1rem;
			font-size: 1.25rem;
		}
	}

	.login-wrapper,
	.overview-wrapper {
		.section-logo svg {
			width: 19rem;
			height: 7rem;
		}

		h1 {
			font-size: 2rem;
		}
	}

	.login-wrapper {
		justify-content: flex-end;
		.section-login {
			flex-basis: 50%;
		}
	}

	.section-redirect {
		display: flex;
		flex-direction: row;
		justify-self: flex-start;
		margin-left: 1rem;
		gap: 1rem;
		p {
			color: black;
			font-size: 1.25rem;
		}
		a {
			font-size: 1.25rem;
		}
	}

	.register-wrapper {
		justify-content: center;
	}

	.section-signup {
		.bx--form {
			display: block;
			padding: 0;
			margin-top: 3rem;
		}
		.signup-login {
			gap: 2rem;
			margin-bottom: 2rem;
		}
	}

	.section-contact,
	.section-resetpw {
		justify-content: center;
		align-items: flex-start;
		gap: 1rem;
		p,
		.bx--link {
			font-size: 1.1rem;
			line-height: 1;
		}
	}

	.section-contact {
		justify-content: flex-start;
	}

	a[href='#register-wrapper'] {
		display: none;
	}

	.radio-group {
		display: none;
	}

	.radio-group-desktop {
		legend {
			font-size: 1.25rem;
			color: white;
			text-align: center;
			margin-bottom: 2rem;
		}
		.bx--form-item {
			padding: 0rem 2rem;
		}
		.bx--radio-button-group {
			width: 100%;
			justify-content: space-between;
		}

		.both-radio-button {
			float: right;
			margin-right: 2rem;
			margin-top: 0rem;
			font-size: 0.6rem;
		}

		.bx--radio-button__label {
			font-size: 1.25rem;
		}
	}

	.bx--radio-button:checked + .bx--radio-button__label .bx--radio-button__appearance,
	.bx--radio-button__appearance {
		border: 1px solid white;
		&:before {
			background-color: white;
		}
	}

	.bx--radio-button-wrapper .bx--radio-button__label {
		align-items: center;
	}
}
