@media (min-width: $break_point) {
	#logo{
		width: 383px;
	}
	#main-content > .content {
		margin-left: 385px;
		max-width: 65%;
		// margin: 0 auto;
		margin-top: 4rem;
	}

	.content {
		> div[slot='fields'] {
			width: 100%;
		}
	}

	.bx--form-item:first-child {
		margin-top: 0;
	}

	.contact-fields,
	.phone-billing,
	.select-container {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		.bx--form-item {
			margin-top: 0rem;
			flex-basis: 50%;
		}
	}

	.emergency-fields {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		.bx--form-item {
			margin-top: 0rem;
			flex-basis: 50%;
		}
		.bx--text-input-wrapper {
			margin-top: 4px;
		}
	}

	.title-right-icon {
		display: inline;
		color: $oysteo-white;
		+ svg {
			display: none;
		}
	}

	.list-advisors {
		> div[slot='value'] {
			width: 100%;
		}

		.group {
			margin-top: 0.75rem !important;
		}
	}

	.bx--form .listitem-advisor {
		flex-direction: column;
		gap: 0.75rem;
	}

	.listitem-advisor {
		.label {
			flex-basis: 50% !important;
		}
	}

	.row-item {
		flex-direction: column;
		gap: 0.75rem;

		&.data-active {
			margin: 1rem 0rem !important;
		}
		.label {
			flex: 0 !important;
		}
	}

	.add-advisor {
		margin-top: 1rem !important;
	}

	.business-fields {
		.bx--form-item,
		.bx--select,
		.bx--date-picker-container {
			flex-direction: row;
		}
		.bx--label {
			flex-basis: 14rem;
			font-size: 0.875rem;
		}
	}

	.mobile-table,
	.mobile-profile,
	.mobile-trip-where,
	.mobile-message {
		display: none;
	}

	.group-where {
		margin-bottom: 0 !important;
		.content {
			margin-top: 1em !important;
			margin-left: -160px;
		}
		.row {
			margin-top: 0 !important;
		}
	}

	.fix-height-trip {
		.group-buttons {
			margin-left: 10rem;
		}
	}

	.document-mobile {
		display: none;
	}

	.custom-emergency {
		span {
			display: none;
		}
	}

	.member-mobile {
		display: none;
	}

	.desktop-profile {
		label {
			font-size: 12px;
		}
	}

	.desktop-message {
		margin-left: 29.7px;
	}

	.tab-mobile {
		display: none;
	}

	.desktop-profile{
		.custom-col{
			margin-right: 17px;
		}
	}

	.icon-right{
		margin-left: 0.5rem;
	}
	.custom-flex-collumn {
		.bx--date-picker-container {
			padding-bottom: 16px;
			margin-bottom: -16px;
			.bx--form-requirement {
				left: 175px;
				right: 0;
				bottom: 0;
				position: absolute;
			}
		}
	}
}
@media (max-width: 1440px) and (min-width: $break_point+1) {
	#logo{
		width: 318px;
	}
	#main-content > .content {
		margin-left: 320px;
		max-width: 65%;
		margin-top: 4rem;
	}
}
@media screen and (max-width: 1166px) and (min-width: $break_point) {
	.section-redirect {
		margin: 0 auto;
		a,
		p {
			font-size: 16px;
		}
	}
}
