@media (min-width: $break_point) {
	header {
		.bx--header__menu-trigger {
			display: none;
		}
		.bx--header-panel--expanded {
			padding: 0.5rem 1.25rem;
		}
	}

	#main-content .nav-section {
		display: none;
	}

	#logo {
		width: 25.25%;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translate(-0.4rem, 0);
		svg {
			width: 120px;
			height: auto;
		}
	}

	.bx--header__nav {
		padding-left: 0.5rem;
		&:before {
			background-color: $oysteo-gray-60;
		}
		.bx--header__menu-item {
			color: $oysteo-black;
		}

		ul.bx--header__menu-bar {
			gap: 1.75rem;
		}

		a.bx--header__menu-item {
			cursor: pointer;
			padding: 0 0.5rem;
			&:hover,
			&:focus,
			&:active {
				background-color: $oysteo-white;
				outline: none;
				border-bottom: 3px solid $oysteo-blue-60;
				color: $oysteo-black;
			}
		}
	}
	.bx--header__global {
		margin: 0 8%;
		position: relative;
		.bx--header-panel--expanded {
			position: absolute;
			right: -14%;
			height: 4.5rem;
		}
		li.bx--switcher__item {
			margin-top: 0.25rem;
		}
	}

	#account-name {
		display: block;
		font-size: 0.75rem;
		color: black;
		text-align: center;
		line-height: 1.25rem;
	}

	li.bx--switcher__item {
		background: $oysteo-gray-100;
		margin-top: 0.5rem;
		a {
			color: $oysteo-white;
			padding: 0.5rem 3.5rem;
		}
	}
}
